.thumbnail {
    cursor: pointer;

    &__info--redes {
        color: $ruddy-pink;

        &:active {
            color : $nickel;
        }

        &:hover {
            color: $raisin-black;
        }

        &:focus {
            color: $nickel;
        }
    }   
}
