.thumbnail {
    cursor: pointer;

    &__info--redes {
        color: $ruddy-pink;

        &:active {
            color : $nickel;
        }

        &:hover {
            color: $raisin-black;
        }

        &:focus {
            color: $nickel;
        }
    }   
}

.barra {

    &--link {
        text-decoration: none;
        color: $white;

        &:hover {
            color: $platinum;
        }

        &:active {
            color: $fuzzy-wuzzy;
        }
    }

    &--link.active {
        color: $fuzzy-wuzzy;
    }
}