.paginator {
    
  
    &--item:first-child &--link {
      border-top-left-radius: 1.25rem;
      border-bottom-left-radius: 1.25rem;
    }
  
    &--item:last-child &--link {
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
    }
  
    &--item.active &--link {
      background-color: $nickel;
      border-color: $nickel;
      color: $white;
      z-index: 1;
    }
  
    &--link {
      background-color: $white;
      border: 1px solid $light-gray;
      color: $eerie-black;
      display: block;
      font-family: $primary-font;
      font-size: $font-size-large;
      font-weight: $primary-font-regular;

      @include tablet-view {
        font-size: $font-size-small;
      }
    }
  
    &--link:hover {
      color: $nickel;
      text-decoration: none;
    }
}