// colors
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

// fonts
$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', sans-serif;
$roboto-light: 300;
$roboto-regular: 400;
$playfair-display-regular: 400;
$playfair-display-black-italic: 900;

$primary-font: $roboto;
$secondary-font: $playfair-display;
$primary-font-light: $roboto-light;
$primary-font-regular: $roboto-regular;
$secondary-font-light: $playfair-display-regular;
$secondary-font-bold: $playfair-display-black-italic;

// font size
$font-size-xx-large: 4.375rem;
$font-size-x-large: 1.875rem;
$font-size-large: 1.125rem;
$font-size-medium: 1rem;
$font-size-small: 0.75rem;

// laptop breakpoints

$min-cellphone: 576px;
$min-tablet: 768px;
$min-laptop: 992px;
$min-desktop: 1200px;
