/* Error: Undefined mixin.
 *    ,
 * 39 | /     @include laptop-view {
 * 40 | |       font-size: $font-size-large;
 * 41 | \     }
 *    '
 *   components\_paginator.scss 39:5  @import
 *   main.scss 6:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 39 \2502  \250c      @include laptop-view {\a 40 \2502  \2502        font-size: $font-size-large;\a 41 \2502  \2514      }\a    \2575 \a   components\\_paginator.scss 39:5  @import\a   main.scss 6:9                    root stylesheet";
}
