.barra {
    background-color: $eerie-black;
    font-family: $primary-font;
    
    &--img {
        width: 5rem;
    }
}

.banner {
    background-image: url('../images/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: table;
    padding: 30% 0;

    &--text {
        text-align: center;
        font-family: $secondary-font;
        font-size: $font-size-xx-large;
        font-weight: $secondary-font-bold;
        font-style: italic;
    }
}

.footer {
    background-color: $eerie-black;
    text-align: center;
    padding: 6.25rem 0;
    
    &--logo {
        width: 7.813rem;
    }
}

.post {

    padding: 2.5rem;

    &__date {
        font-family: $secondary-font;
        font-weight: $secondary-font-light;
        font-size: $font-size-large;
        color: $nickel;
    }

    &__text {
        font-family: $primary-font;
        font-weight: $primary-font-light;
        font-size: $font-size-large;
        text-align: justify;
        color: $nickel;
        line-height:40px;
    }

    &__rsocial {
        text-align: left;
        padding: 4rem 0;

        @include tablet-view {
            text-align: center;
            padding: 4rem 0;
          }
    }
    
}

.paginador {
    background-color: $platinum;
    padding: 5rem 0;
}

.linea{
    margin:0px auto;
    height: 0.125rem;
    width: 100%;
    background-color: $light-gray;
}

.box {
    padding: 3rem 2rem;

    &__foto, &__contacto {
        
        width: 20%;
        margin: 0.5rem 0;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        vertical-align: middle;

        @include tablet-view {
            width: 100%;
            text-align: center;
        }
    }

    &__texto {
        width: 55%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        vertical-align: middle;
        
        @include tablet-view {
            display: none;
        }
    }
   
}

