//su csd que le aplican al index.html
.barra-menu {
    background-color: $eerie-black;
    font-family: $primary-font;
    &__imagen {
        width: 50%;
    }

    &__link {
        text-align: right;
    }
}

.banner {
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: table;
    padding: 25% 0;

    

    &__title {
        text-align: center;
        font-family: $secondary-font;
        font-size: $font-size-xx-large;
        font-weight: $secondary-font-bold;
        vertical-align: middle;
        
    }
}